<div class="card col-md-4 offset-4">
    <h3>Shinobu Tōroku</h3>
    <form [formGroup]="registrationForm" (ngSubmit)="submit(registrationForm.value)">
        <div class="col-md-8 offset-md-2">
            <div class="row form-group">
                <label class="control-label col-md-5">
                    First name:
                </label>
                <div class="col-md-5">
                    <input type="text" class="form-control" formControlName="firstName" >
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-5">
                    Last name:
                </label>
                <div class="col-md-5">
                    <input type="text" class="form-control" formControlName="lastName" >
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-5">
                    Choose your Hero
                </label>
                <div class="col-md-5">
                    <select class="btn btn-info dropdown-toggle" formControlName="Hero"
                    (change)="onHeroChange($event)">
                    <option value="Naruto">Naruto</option>
                    <option value="Monkey D Luffy">Monkey D Luffy</option>
                    <option value="Kurosaki Ichigo">Kurosaki Ichigo</option>
                    <option value="Asta">Asta</option>
                    <option value="Tanjiro Kamado">Tanjiro Kamado</option>
                </select>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-5">Email</label>
                <div class="col-md-5">
                    <input type="email" class="form-control" formControlName="email">
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-5">Alias</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" formControlName="title">
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-5">Password</label>
                <div class="col-md-5">
                    <input type="password" class="form-control" formControlName="password">
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-5">Confirm Password</label>
                <div class="col-md-5">
                    <input type="password" class="form-control" formControlName="confirmPassword">
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center" style="margin-bottom:30px;">
            <button class="btn btn-success" type="submit">Submit</button>
          </div>
    </form>
</div>