<html>

<body>
  <div class="header">
    <div class="row">
      <div class="col-lg-4 col-sm-8 offset-1">
        <h1>YoLo</h1>
      </div>
      <div class="col-lg-2 col-sm-2 offset-3"routerLink="/login">
        Login
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Shinobi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/favourites">Okiniiri</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/todo-list">Got to Watch</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Inventory</a>
      </li>
    </ul>
  </nav>
</body>

</html>